<div>
    <div class="author-block" style="background: url('/Content/Images/Blog/me-background-2.jpg') center">
        <div class="author-img">
            <img src="~/Content/Images/Blog/me-1.png">
        </div>
    </div>
    <div class="panel panel-default author-bio">
        <div class="panel-body">
            <h3>Hi, I'm Tommy!</h3>
            <p>sesame snaps dragée candy wafer pie powder wafer sweet roll chocolate cake. icing icing dragée oat cake fruitcake powder ice cream.</p>
        </div>
    </div>
</div>