@model tommysblog.ViewModels.BlogLandingPageViewModel
@{
    ViewBag.Title = "Blog";
}
@*<div class="jumbotron blogtron">
        <h1><span>Tommy's</span> <span>BLOG</span></h1>
        <p class="lead">Random thoughts and ramblings on religion, technology, and life in general.</p>
    </div>*@

<div class="row featured-section">
    <div>
        <h2 class="fancy-title">Featured thoughts</h2>
    </div>
    <div class="col-sm-4">
        <div class="featured-thought">
            <a href="#">
                <img src="~/Content/Images/Blog/featured-1.jpg" />
                <span class="img-title">Jujubes jelly-o pudding brownie liquorice ice cream.</span>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="featured-thought">
            <a href="#">
                <img src="~/Content/Images/Blog/featured-2.jpg" />
                <span class="img-title">Apple pie biscuit halvah lollipop.</span>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="featured-thought">
            <a href="#">
                <img src="~/Content/Images/Blog/featured-3.jpg" />
                <span class="img-title">Liquorice cake jelly-o marshmallow lemon drops lemon drops bonbon.</span>
            </a>
        </div>
    </div>
</div>

<div class="row recent-section">
    <div class="col-lg-8">
        <h2 class="fancy-title">Recent thoughts</h2>
        @foreach (var post in Model.PostViewModels)
        {
            Html.RenderPartial("~/Views/Shared/_Post.cshtml", post);
        }
    </div>
    <div class="col-lg-4">
        <div>
            @{ Html.RenderPartial("~/Views/Shared/_AuthorBlock.cshtml"); }
        </div>
        <div>
            @{ Html.RenderPartial("~/Views/Shared/_ArchiveBlock.cshtml", Model.ArchiveItems); }
        </div>
        <div>
            @{ Html.RenderPartial("~/Views/Shared/_TagListBlock.cshtml", Model.TagCounts); }
        </div>
    </div>
</div>
