@model tommysblog.ViewModels.BlogTagsPageViewModel
@{
    ViewBag.Title = "Blog Archive";
}

<div class="row recent-section">
    <div><h2 class="fancy-title">Thoughts about @Model.TagName</h2></div>
    <div class="col-lg-8">
        @if (Model.PostViewModels.Count() == 0)
        {
            <h3>I got nothin'...</h3>
        }
        else
        {
            foreach (var post in Model.PostViewModels)
            {
                Html.RenderPartial("~/Views/Shared/_Post.cshtml", post);
            }
        }
    </div>
    <div class="col-lg-4">
        <div>
            @{ Html.RenderPartial("~/Views/Shared/_AuthorBlock.cshtml"); }
        </div>
        <div>
            @{ Html.Partial("~/Views/Shared/_ArchiveBlock.cshtml", Model.ArchiveItems); }
        </div>
        <div>
            @{ Html.RenderPartial("~/Views/Shared/_TagListBlock.cshtml", Model.TagCounts); }
        </div>
    </div>
</div>
